.app_dark_theme {
    --bg-color: #5E69EE;
    --inverted-bg-color: #F4F4FB;
    --primary-color: #dedefa;
    --secondary-color: #F4F4FB;
    --inverted-primary-color: #03ABEA;
    --inverted-secondary-color: #5E69EE;
}