.app.dark {
  --bg-color: #363654;
  --inverted-bg-color: #e7e7e7;

  --primary-color: #b94ae5;
  --secondary-color: #8f8fab;
  --inverted-primary-color: #0f0f9a;
  --inverted-secondary-color: #4949fc;
}