.app.dark {
    --bg-color: #03ABEA;
    --inverted-bg-color: #FCF2DB;
    --primary-color: #dadada;
    --secondary-color: #07b707;
    --inverted-primary-color: #6565ff;
    --inverted-secondary-color: #4949fc;
}