.app.light {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #363654;

  --primary-color: #0f0f9a;
  --secondary-color: #4949fc;
  --inverted-primary-color: #d1d1e3;
  --inverted-secondary-color: #8f8fab;
}