.app.light {
    --bg-color: #FCF2DB;
    --inverted-bg-color: #03ABEA;
    --primary-color: #eccc34;
    --secondary-color: #4949fc;
    --inverted-primary-color: #ffc600;
    --inverted-secondary-color: #d9ca69;
}