.app_light_theme {
    --bg-color: #F4F4FB;
    --inverted-bg-color: #5E69EE;
    --primary-color: #39AFEA;
    --secondary-color: #5E69EE;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #00004d;
}